<?xml version="1.0" encoding="utf-8"?>
<!--
  Capacitor Android Manifest template for Central Command.
  After running `npx cap add android`, this file is replaced by the generated one.
  Merge the <intent-filter> block below into the generated AndroidManifest.xml inside
  the main <activity> element.

  SETUP STEPS:
  1. Run: npx cap add android
  2. Add your Google Cloud Android OAuth client ID to the <data android:scheme> below.
     The scheme format is: com.googleusercontent.apps.<CLIENT_ID_PREFIX>
     where CLIENT_ID_PREFIX is the part before .apps.googleusercontent.com
  3. Register OAuthCallbackPlugin in your MainActivity.kt (or MainActivity.java):
       bridge.registerPlugin(OAuthCallbackPlugin::class.java)
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:launchMode="singleTask"
        android:name=".MainActivity"
        android:windowSoftInputMode="adjustResize">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!--
        Google OAuth redirect intent filter.
        Replace YOUR_ANDROID_CLIENT_ID with the prefix of your Android OAuth client ID.
        Example: if your client ID is 123456789-abc.apps.googleusercontent.com
                 then android:scheme="com.googleusercontent.apps.123456789-abc"
      -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
            android:scheme="com.googleusercontent.apps.YOUR_ANDROID_CLIENT_ID"
            android:host="oauth2redirect" />
      </intent-filter>

    </activity>

    <provider
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true"
        android:name="androidx.core.content.FileProvider">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths" />
    </provider>

  </application>

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>
